.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .image-container {
    width: 500px;
    margin: auto;

    .details-image {
      width: 100%;
      object-fit: cover;
    }

    .recipe-chips {
      width: 500px;
      margin: 0 15px;
    }

    .recipe-chip {
      width: 150px;

      .chip-content {
        margin: 0 auto;
      }
    }
  }

  .recipe-section {
    margin: 40px 0;

    h3,
    .steps-order,
    .recipe-owner {
      color: #333;
      margin: 50px 0 20px 0;
      font-size: 24px;
    }

    .recipe-owner {
      color: #888;
    }

    .recipe-ingredients {
      padding: 10px;

      .ingredients-table {
        width: 100%;

        .mat-column-amount {
          width: 32px;
          padding-right: 24px;
          text-align: center;
        }

        .mat-column-unit {
          width: 128px;
          border-right: 1px solid lightgray;
          padding-right: 24px;
          text-align: center;
        }
      }
    }

    .recipe-steps {
      margin-top: 20px;

      .steps-description {
        margin: 0 20px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        color: #555;
      }
    }
  }

  .recipe-actions {
    margin: 50px 0;

    .action-buttons {
      width: 600px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        @extend .common-button-style;
        color: #fff;
        background-color: #4caf50;

        &:hover {
          background-color: #45a049;
        }

        &:disabled {
          background-color: #ddd;
          cursor: not-allowed;
        }
      }
    }

    .comment-button {
      width: 600px;
      margin: 50px auto;

      button {
        width: 100%;
        background-color: #3498db;

        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
}

$lightBackgroundColor: #f0f0f0;

.common-button-style {
  width: 150px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}