<div class="details-page">
    <div class="image-container">
        <img src="../../../assets/nikolay-smeh-gPpbFaEkl00-unsplash.jpg" class="details-image">
        <mat-chip-listbox class="recipe-chips">
            <mat-chip class="recipe-chip">
                <p class="chip-content"><mat-icon>alarm</mat-icon> {{currentRecipe.prepTime}} min</p>
            </mat-chip>
            <mat-chip class="recipe-chip">
                <p class="chip-content"><mat-icon>calendar_today</mat-icon> {{recipeDate}}</p>
            </mat-chip>
            <mat-chip class="recipe-chip">
                <p class="chip-content"><mat-icon>star_border</mat-icon> {{currentRecipe.likes}} Sterne</p>
            </mat-chip>
        </mat-chip-listbox>
    </div>

    <div class="recipe-section">
        <h1>{{currentRecipe.title}} ({{currentRecipe.servings}} Portionen)</h1>

        <p>{{currentRecipe.description}}</p>

        <p class="recipe-owner">hochgeladen von: {{recipeOwner.username}}</p>

        <h3>Zutaten</h3>

        <div class="recipe-ingredients">
                <table mat-table [dataSource]="currentRecipe.ingredients" class="ingredients-table">
                    <ng-container  matColumnDef="amount">
                        <td mat-cell *matCellDef="let ingredient">{{ingredient.amount}}</td>
                    </ng-container>

                    <ng-container  matColumnDef="unit">
                        <td mat-cell *matCellDef="let ingredient">{{ingredient.unit}}</td>
                    </ng-container>

                    <ng-container  matColumnDef="ingredient">
                        <td mat-cell *matCellDef="let ingredient">{{ingredient.ingredient}}</td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        </div>

        <h3>Kategorien</h3>
        <mat-chip-listbox class="category-chips">
            <mat-chip class="category-chip" *ngFor="let category of currentRecipe.category">
                <p class="chip-content">{{category}}</p>
            </mat-chip>
        </mat-chip-listbox>

        <h3>Arbeitsschritte</h3>
        <div class="recipe-steps" *ngFor="let step of currentRecipe.steps">
            <p class="steps-order">{{step.order}}. Schritt:</p>
            <p class="steps-description">{{step.description}}</p>
        </div>
    </div>

    <div class="recipe-actions">
        <div class="action-buttons">
            <button mat-stroked-button>Drucken</button>
            <button mat-stroked-button *ngIf="CheckIfRecipeOwner()">Bearbeiten</button>
            <button mat-stroked-button *ngIf="CheckIfRecipeOwner()">Löschen</button>
            <button mat-stroked-button *ngIf="!CheckIfRecipeOwner()" [disabled]="!user">Stern</button>
            <button mat-stroked-button *ngIf="!CheckIfRecipeOwner()" [disabled]="!user">Merken</button>
        </div>

        <div class="comment-button">
            <button mat-stroked-button>Kommentare</button>
        </div>
    </div>
</div>
