.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;

  .image-container {

    width: 50%;

    img {
      width: 30%;
    }

    .details-image {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .recipe-chips {
      width: 100%;
      margin-left: 30px;
    }

    .recipe-chip {
      width: 31%;
    }
  }

  .recipe-owner {
    color: #888;
  }
}

.recipe-ingredients {

  .ingredients-table {
    width: 100%;

    .mat-column-amount {
      text-align: center;
    }
  }
}

.mat-column-unit {
  border-right: 1px solid lightgray;
}

.recipe-steps {
  margin-top: 20px;

  .steps-description {
    margin: 0 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #555;
  }
}

.recipe-actions {

  .action-buttons {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      @extend .common-button-style;
      color: #fff;
      background-color: #4caf50;

      &:hover {
        background-color: #45a049;
      }

      &:disabled {
        background-color: #ddd;
        cursor: not-allowed;
      }

      margin: 10px;
    }

    .like-save {
      background-color: #c14b7e;
    }

    .like-save:hover {
      background-color: #a83e6c;
    }
  }

  .comment-button {
    width: 100%;

    button {
      width: 100%;
      background-color: #3498db;

      &:hover {
        background-color: #2980b9;
      }
    }
  }

  .comment-section {
    width: 100%;
  }
}

$lightBackgroundColor: #f0f0f0;

.common-button-style {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

@media (max-width: 800px) {

  .details-page {
    width: 100%;
    margin: 0;

    .image-container {
      width: 100%;

      img {
        width: 100%;
      }

      .recipe-chips {
        margin: 0;
      }

      .recipe-chip {
        width: 100%;
      }
    }
  }
}

@media print {

  .recipe-actions,
  .recipe-chips,
  .categories {
    display: none !important;
  }

  .recipe-section,
  .recipe-ingredients,
  .category-chips {
    width: 100%;
    text-align: center;
  }
}