<div class="container">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <h2 class="text-center">Ein neues Rezept hochladen</h2>

      <div class="text-center error-block">
        <mat-error *ngIf="error">{{ error }}</mat-error>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" type="text" required #title
          [ngClass]="{ 'is-invalid': submitted && form.get('title')?.errors }">
        <div *ngIf="submitted && form.get('title')?.errors" class="invalid-feedback">
          <mat-error *ngIf="form.get('title')?.hasError('required')">Name is required</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput placeholder="Beschreibung" formControlName="description" required #description
          [ngClass]="{ 'is-invalid': submitted && form.get('description')?.errors }"></textarea>
        <div *ngIf="submitted && form.get('description')?.errors" class="invalid-feedback">
          <mat-error *ngIf="form.get('description')?.hasError('required')">Beschreibung is required</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Bild URL</mat-label>
        <input matInput placeholder="Bild URL" formControlName="imageURL" type="text" required #imageURL
          [ngClass]="{ 'is-invalid': submitted && form.get('imageURL')?.errors }">
        <div *ngIf="submitted && form.get('imageURL')?.errors" class="invalid-feedback">
          <mat-error *ngIf="form.get('imageURL')?.hasError('required')">Bild URL is required</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Servings</mat-label>
        <input matInput placeholder="Servings" formControlName="servings" type="number" required #servings
          [ngClass]="{ 'is-invalid': submitted && form.get('imageURL')?.errors }">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>prepTime</mat-label>
        <input matInput placeholder="prepTime" formControlName="prepTime" type="number" required #prepTime
          [ngClass]="{ 'is-invalid': submitted && form.get('prepTime')?.errors }">
        <div *ngIf="submitted && form.get('prepTime')?.errors" class="invalid-feedback">
          <mat-error *ngIf="form.get('prepTime')?.hasError('required')">prepTime is required</mat-error>
        </div>
      </mat-form-field>

      <!-- Ingredients -->
      <h3>Ingredients</h3>
      <div class="ingredients-container">
      </div>
      <button mat-raised-button color="primary" (click)="addIngredient()">Add Ingredient</button>
      <button mat-raised-button color="warn" (click)="removeIngredient()">Remove Last Ingredient</button>

      <!-- Steps -->
      <h3>Steps</h3>
      <div class="steps-container">
      </div>
      <button mat-raised-button color="primary" (click)="addStep()">Add Step</button>
      <button mat-raised-button color="warn" (click)="removeStep()">Remove Last Step</button>


      <!-- category -->
      <h3>category</h3>
      <mat-form-field class="full-width">
        <mat-label>Kategorie</mat-label>
        <mat-select formControlName="category" required #category multiple>
          <mat-option *ngFor="let option of categoryOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
        <div *ngIf="submitted && form.get('category')?.errors" class="invalid-feedback">
          <mat-error *ngIf="form.get('category')?.hasError('required')">Kategorie is required</mat-error>
          <mat-error *ngIf="form.get('category')?.hasError('maxCategories')">Maximal 3 Kategorien auswählen</mat-error>
        </div>
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" type="submit">Rezept hochladen</button>
      </div>
    </form>
  </div>
</div>