.container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: 100px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  width: 1000px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.error-block {
  margin: 10px;
}

.image-preview {
  margin-top: 10px;
}

.image-preview img {
  max-width: 100%;
  height: auto;
}

.ingredients-container,
.steps-container {

  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
}