header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.filter-menu-button {
  width: 200px;
  margin: 0 20px;
}

.search {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  margin-left: 5px;
}

header .logo {
  color: #111;
  font-weight: 600;
  font-size: 2em;
  text-decoration: none;
}

header.sticky .logo {
  color: #111;
}

header .logo span {
  color: #ff0157;

}

button {
  margin-left: 6px;
}