.mat-elevation-z8 {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.search-container {
  position: relative;
  margin-left: 50px;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-button {
  position: absolute;
  right: -12px;
  top: -12px;
}

.btn {
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.filterMenu-btn {
  margin-left: auto;
  margin-right: 10px;
}

.login-btn {
  margin-left: 10px;
}

.register-btn {
  margin-left: 10px;
}

@media (max-width: 1050px) {
  .search-input {
    width: 69%;
  }

  .filter-menu-button {
    display: none;
  }

  .btn,
  .filterMenu-btn {
    display: none;
  }
}

@media (max-width: 400px) {
  .search-input {
    width: 50%;
  }
}


a {
  text-decoration: none;
  color: black;
}

.filter-menu-button {
  width: 200px;
  margin: 0 20px;
  position: absolute;
  right: 0;
}

.search {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  margin-left: 5px;
}

header .logo {
  color: #111;
  font-weight: 600;
  font-size: 2em;
  text-decoration: none;
}

header .logo span {
  color: #ff0157;
}

.titleText {
  color: #111;
  cursor: pointer;
  // font-size: 2em;
  // font-weight: 300;
  // margin-left: 50px;
}

.titleText span {
  color: #ff0157;
  // font-weight: 700;
  // font-size: 1.5em;
}

@media print {
  header {
    display: none !important;
  }
}