<header>
  <mat-toolbar class="first-nav fixed-top bg-light">
    <mat-toolbar-row class="d-flex align-items-center">
      <a [routerLink]="['/home']" class="logo">Rezepte Netzwerk<span>.</span></a>
      <form class="search" role="search" [formGroup]="searchForm" (ngSubmit)="searchRecipes()">
        <mat-form-field>
          <input matInput placeholder="Search" formControlName="recipe">
        </mat-form-field>
        <button class="searchButton" mat-raised-button color="primary" type="submit"
          [disabled]="searchForm.invalid">Search</button>
      </form>
      <button mat-raised-button [matMenuTriggerFor]="filterMenu" class="filter-menu-button">
        <mat-icon>filter_list</mat-icon> Rezepte
      </button>
      <mat-menu #filterMenu="matMenu">
        <button mat-menu-item [routerLink]="['/category', 'Vorspeisen']">Vorspeisen</button>
        <button mat-menu-item [routerLink]="['/category', 'Hauptspeisen']">Hauptspeisen</button>
        <button mat-menu-item [routerLink]="['/category', 'Desserts']">Desserts</button>
        <button mat-menu-item [routerLink]="['/category', 'Snacks']">Snacks</button>
        <button mat-menu-item [routerLink]="['/category', 'Getränke']">Getränke</button>
        <button mat-menu-item [matMenuTriggerFor]="additionalCategoriesMenu">weitere Kategorien</button>
      </mat-menu>
      <mat-menu #additionalCategoriesMenu="matMenu">
        <button mat-menu-item *ngFor="let category of recipeCategories" [routerLink]="['/category', category]">{{
          category }}</button>
      </mat-menu>
      <button class="btn" mat-raised-button *ngIf="!user" color="primary" [routerLink]="['/login']">
        <mat-icon class="mr-1">exit_to_app</mat-icon> Login
      </button>
      <button class="btn" mat-raised-button *ngIf="!user" color="warn" [routerLink]="['/register']">
        <mat-icon class="mr-1">person_add</mat-icon> Registrieren
      </button>
      <div class="dropdown" *ngIf="user">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="profileMenu">
          <mat-icon class="mr-1">person</mat-icon> Hello {{ user!.username }}
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/add']">
            <mat-icon class="mr-1">add_box</mat-icon> Rezept hochladen
          </button>
          <button mat-menu-item [routerLink]="['/profile']">
            <mat-icon class="mr-1">people</mat-icon> Profil
          </button>
        </mat-menu>
      </div>
      <button mat-raised-button *ngIf="user" color="warn" (click)="logout()">
        <mat-icon class="mr-1">exit_to_app</mat-icon> Logout
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>