.comment-section {
    .comment-form {
        margin-bottom: 40px;

        .form-fields {
            width: 100%;

            .data-form-field {
                width: 100%;
            }

            .form-button {
            }
        }
    }
}