<div class="container">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <h2 class="text-center">Login</h2>
      <h3 class="text-center">welcome to Rezepte Netzwerk</h3>

      <div class="text-center error-block">
        <mat-error *ngIf="error">{{ error }}</mat-error>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email" required #email
          [ngClass]="{ 'is-invalid': submitted && form.get('email')?.errors }">
        <div *ngIf="submitted && form.get('email')?.errors" class="invalid-feedback">
          <mat-error *ngIf="form.get('email')?.hasError('required')">email is required</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('email')">Invalid email format</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password"
          type="password" required #password [ngClass]="{ 'is-invalid': submitted && form.get('password')?.errors }" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <div *ngIf="submitted && form.get('password')?.errors" class="invalid-feedback">
          <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
        </div>
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" type="submit">Login</button>
        <a routerLink="../register" mat-raised-button color="basic">Register</a>
      </div>
    </form>
  </div>
</div>