<p>login works!</p>

<div class="login_container">
  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" type="email" required #email
          [ngClass]="{ 'is-invalid': submitted && form.get('email')?.errors }">
        <div *ngIf="submitted && form.get('email')?.errors" class="invalid-feedback">
          <div *ngIf="form.get('email')?.hasError('required')">email is required</div>
          <div *ngIf="form.get('email')?.hasError('email')">Invalid email format</div>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Password" formControlName="password" type="password" required #password
          [ngClass]="{ 'is-invalid': submitted && form.get('password')?.errors }" />
        <div *ngIf="submitted && form.get('password')?.errors" class="invalid-feedback">
          <div *ngIf="form.get('password')?.hasError('required')">Password is required</div>
          <div *ngIf="form.get('password')?.hasError('minlength')">Password must be at least 3 characters</div>
        </div>
      </mat-form-field>

      <mat-error *ngIf="error" class="">
        {{ error }}
      </mat-error>

      <div class="text-center">
        <button mat-raised-button color="primary" type="submit">Login</button>
        <a routerLink="../register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>