
<a [routerLink]="['/details/5']">
    <mat-card class="recipe-card">
        <img mat-card-image src="../../../assets/nikolay-smeh-gPpbFaEkl00-unsplash.jpg">
        <mat-card-footer class="recipe-card-footer">
            <!-- <p>{{recipe.title}}</p> -->
            <p>Rezept Titel</p>
        </mat-card-footer>
        <mat-card-actions class="recipe-card-actions">
            <!-- <p><mat-icon>alarm</mat-icon> {{recipe.prepTime}} min</p> -->
            <p><mat-icon>alarm</mat-icon> 30 min</p>
            <p><mat-icon>calendar_today</mat-icon> 02.12.2023</p>
            <!-- <p><mat-icon>star_border</mat-icon> {{recipe.likes}}</p> -->
            <p><mat-icon>star_border</mat-icon> 14</p>
        </mat-card-actions>
    </mat-card>
</a>