<!-- Home Banner -->
<section class="banner" id="banner">
  <div class="content">
    <h2> Always Choose Good</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud .</p>
  </div>
</section>

<!-- Rezept des Tages -->
<div class="presented-recipe-category mb-4">
  <h3 class="mb-3 custom-heading">Zufallsrezept:</h3>
  <div class="presented-recipes">
    <div class="col-md-4 mb-3">
      <app-recipe-list-element [recipe]="recipeOfTheDay"></app-recipe-list-element>
    </div>
  </div>
</div>

<!-- Beliebteste Rezepte -->
<div class="presented-recipe-category mb-4">
  <h3 class="mb-3 custom-heading">Beliebteste Rezepte:</h3>
  <div class="presented-recipes">
    <ng-container *ngFor="let recipe of topLikedRecipes">
      <div class="item">
        <app-recipe-list-element [recipe]="recipe"></app-recipe-list-element>
      </div>
    </ng-container>
  </div>
</div>

<!-- Neueste Rezepte -->
<div class="presented-recipe-category mb-4">
  <h3 class="mb-3 custom-heading">Neueste Rezepte:</h3>
  <div class="presented-recipes">
    <ng-container *ngFor="let recipe of latestRecipes">
      <div class="item">
        <app-recipe-list-element [recipe]="recipe"></app-recipe-list-element>
      </div>
    </ng-container>
  </div>
</div>

<!-- menu -->

<section class="menu" id="menu">
  <div class="title">
    <h2 class="titleText"><span>R</span>ezepte</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="content">
    <div [routerLink]="['/category', 'Salads']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/2116090/pexels-photo-2116090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="text">
        <h3>Salads</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Momos']" class=" box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/5409009/pexels-photo-5409009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="text">
        <h3>Momos</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Vorspeisen']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
      </div>
      <div class="text">
        <h3>Vorspeisen</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Hauptspeisen']" class=" box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/262959/pexels-photo-262959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
      </div>
      <div class="text">
        <h3>Hauptspeisen</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Dosa']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/5560763/pexels-photo-5560763.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </div>
      <div class="text">
        <h3>Dosa</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Pizza']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/1260968/pexels-photo-1260968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="text">
        <h3>Pizza</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Pasta']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/1437267/pexels-photo-1437267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="text">
        <h3>Pasta</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Chawmin']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/2347311/pexels-photo-2347311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="text">
        <h3> Chawmin</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Getränke']" class="box">
      <div class="imgBx">
        <img
          src="https://www.eatbetter.de/sites/eatbetter.de/files/styles/1024_576/public/2021-04/istock-1163813594.jpg?h=119335f7&itok=UDx0ojDR">
      </div>
      <div class="text">
        <h3>Getränke</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Burger']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/2282528/pexels-photo-2282528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="text">
        <h3>Burger</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Snacks']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/1683546/pexels-photo-1683546.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </div>
      <div class="text">
        <h3>Snacks</h3>
      </div>
    </div>
    <div [routerLink]="['/category', 'Desserts']" class="box">
      <div class="imgBx">
        <img
          src="https://images.pexels.com/photos/2144112/pexels-photo-2144112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </div>
      <div class="text">
        <h3>Desserts</h3>
      </div>
    </div>
  </div>
  <div class="title">
    <a [routerLink]="['/category', 'Alle']" href="#" class="btn">View all</a>
  </div>

</section>