<div class="presented-recipe-category">

  <h3>Rezept des Tages:</h3>

  <div class="presented-recipes">
    <app-recipe-list-element></app-recipe-list-element>
  </div>
</div>

<div class="presented-recipe-category">

  <h3>beliebteste Rezepte:</h3>

  <div class="presented-recipes">
    <app-recipe-list-element></app-recipe-list-element>
    <app-recipe-list-element></app-recipe-list-element>
    <app-recipe-list-element></app-recipe-list-element>
  </div>
</div>

<div class="presented-recipe-category">

  <h3>neuste Rezepte:</h3>

  <div class="presented-recipes">
    <app-recipe-list-element></app-recipe-list-element>
    <app-recipe-list-element></app-recipe-list-element>
    <app-recipe-list-element></app-recipe-list-element>
  </div>
  <!-- <div class="presented-recipes" *ngFor="let recipe of recipes">
    <app-recipe-list-element [recipe]="recipe"></app-recipe-list-element>
  </div> -->
</div>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>

<ul>
  <li><a [routerLink]="['/details', 4]">Rezept des Tages</a></li>
  <li><a [routerLink]="['/details', 5]">beliebtes Rezept</a></li>
  <li><a [routerLink]="['/details', 6]">neues Rezept</a></li>
</ul>