<!-- Rezept des Tages -->
<div class="presented-recipe-category mb-4">
  <h3 class="mb-3 custom-heading">Rezept des Tages:</h3>
  <div class="presented-recipes row">
    <div class="col-md-4 mb-3">
      <app-recipe-list-element [recipe]="recipeOfTheDay"></app-recipe-list-element>
    </div>
  </div>
</div>

<!-- Beliebteste Rezepte -->
<div class="presented-recipe-category mb-4">
  <h3 class="mb-3 custom-heading">Beliebteste Rezepte:</h3>
  <div class="presented-recipes row">
    <ng-container *ngFor="let recipe of topLikedRecipes">
      <div class="col-md-4 mb-3">
        <app-recipe-list-element [recipe]="recipe"></app-recipe-list-element>
      </div>
    </ng-container>
  </div>
</div>

<!-- Neueste Rezepte -->
<div class="presented-recipe-category mb-4">
  <h3 class="mb-3 custom-heading">Neueste Rezepte:</h3>
  <div class="presented-recipes row">
    <ng-container *ngFor="let recipe of latestRecipes">
      <div class="col-md-4 mb-3">
        <app-recipe-list-element [recipe]="recipe"></app-recipe-list-element>
      </div>
    </ng-container>
  </div>
</div>