.footer-container {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;

  .footer-container p {
    color: #333;
  }
}

@media print {
  .footer-container {
    display: none !important;
  }
}